.post{
    display: flex;
    align-items: center;
    gap: 2em;

}
.imageContainer{
    flex: 1;
    height: 300px;
    width: 500px;
    position: relative;
    
}

.imageContainer .image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.textContainer p{
    color: var(--softTextColor);
}

.date{
    color:gray;
}

.category{
    color:crimson;
    font-weight: bold;
    cursor: pointer;
}

.readMore{
    padding: 1em;
    width: max-content;
    border-bottom: 3px solid crimson;
}